# SECTOR RETAIL

## Modelo de Reinforcement Learning para optimizar el precio de la cesta de la compra

La base de datos utilizada se ha creado de forma manual a modo de ejemplo con una serie de productos de Alcampo

Las funciones a las que se llama en el notebook pueden ser consultadas en el documento py.

referencia: https://www.kaggle.com/osbornep/reinforcement-learning-for-meal-planning-in-python

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

import time

from funciones_RL import productos
from funciones_RL import MCModelv3

In [2]:
data = pd.read_csv("./datos_alcampo.csv", sep = ';', encoding = 'latin')

In [3]:
data

,Producto,Marca,Qmerged_label,Precio,Valor_inicial
0,Leche semidesnatada,Lauki,11,0.75,0
1,Leche semidesnatada,Asturiana,12,0.76,0
2,Leche semidesnatada,President,13,0.69,0
3,Huevos L,Alcampo,21,1.44,0
4,Huevos L,Pazo de Vilane,22,2.98,0
5,Huevos L,La Granja de Sauri,23,2.23,0
6,Arroz redondo,SOS,31,1.52,0
7,Arroz redondo,Alcampo,32,0.72,0
8,Arroz redondo,La Fallera,33,1.34,0
9,Filetes de pollo,Uvesa,41,3.78,0
10,Filetes de pollo,Alcampo,42,5.71,0
11,Filetes de pollo,Norave,43,3.13,0
12,Cereales chocolate,Nesquik,51,2.35,0
13,Cereales chocolate,Kellogs,52,3.45,0
14,Cereales chocolate,Muesli Alcampo,53,1.99,0
15,Cereales chocolate,Chocapic,54,2.84,0
16,Zumo Naranja,Don Simon,61,1.10,0
17,Zumo Naranja,Alcampo,62,1.25,0
18,Zumo Naranja,Disfruta,63,0.99,0
19,Champu,H&S,71,1.01,0
20,Champu,Pantene,72,0.98,0
21,Champu,Fructis,73,0.90,0
22,Champu,Garnier,74,0.84,0
23,Jamon serrano lonchas,Alcampo,81,1.45,0
24,Jamon serrano lonchas,Navidul,82,1.98,0
25,Jamon serrano lonchas,Argak,83,2.38,0
26,Café molido,Marcilla,91,3.70,0
27,Café molido,Alcampo,92,1.18,0
28,Café molido,La Estrella,93,1.61,0
29,Pizza jamon y queso,Buitoni Forno di Pietra,101,3.09,0
30,Pizza jamon y queso,Dr. Oetket Ristorante,102,3.25,0
31,Pizza jamon y queso,La niña del sur,103,2.29,0
32,Aceitunas verdes,Alcampo,111,1.83,0
33,Aceitunas verdes,La Española,112,1.48,0
34,Aceitunas verdes,Excelencia,113,0.89,0
35,Cerveza,Alhambra premium,121,3.12,0
36,Cerveza,Mahou clásica,122,3.36,0
37,Cerveza,Voll-damm,123,4.62,0
38,Cerveza,San Miguel especial,124,3.30,0
39,Aceite de oliva,Hojiblanca,131,2.75,0
40,Aceite de oliva,Alcampo,132,3.54,0
41,Aceite de oliva,La Española,133,3.60,0
42,Pan de molde,Bimbo,141,1.97,0
43,Pan de molde,Alcampo,142,0.94,0
44,Pan de molde,Panrico,142,1.88,0
45,Espaguettis,Gallo al huevo,151,1.26,0
46,Espaguettis,Alcampo,152,0.43,0
47,Espaguettis,Gallo,153,0.83,0
48,Espaguettis,Barilla,154,1.23,0

In [4]:
data.groupby('Producto')['Precio'].mean()

Producto
Aceite de oliva          3.296667
Aceitunas verdes         1.400000
Arroz redondo            1.193333
Café molido              2.163333
Cereales chocolate       2.657500
Cerveza                  3.600000
Champu                   0.932500
Espaguettis              0.937500
Filetes de pollo         4.206667
Huevos L                 2.216667
Jamon serrano lonchas    1.936667
Leche semidesnatada      0.733333
Pan de molde             1.596667
Pizza jamon y queso      2.876667
Zumo Naranja             1.113333
Name: Precio, dtype: float64

In [31]:
tabla, rewards, dinero = productos(data)

Indique el dinero máximo que desea gastar: 8
Seleccione el número de productos que quiera: 3
['Leche semidesnatada', 'Huevos L', 'Arroz redondo', 'Filetes de pollo', 'Cereales chocolate', 'Zumo Naranja', 'Champu', 'Jamon serrano lonchas', 'Café molido', 'Pizza jamon y queso', 'Aceitunas verdes ', 'Cerveza', 'Aceite de oliva', 'Pan de molde', 'Espaguettis']
Seleccione el producto:Cerveza
Seleccione el producto:Café molido
Seleccione el producto:Aceite de oliva
   IP         Producto  IM                Marca  Qmerged_label  Precio  \
0   1          Cerveza   1     Alhambra premium             11    3.12
1   1          Cerveza   2        Mahou clásica             12    3.36
2   1          Cerveza   3            Voll-damm             13    4.62
3   1          Cerveza   4  San Miguel especial             14    3.30
4   2      Café molido   1             Marcilla             21    3.70
5   2      Café molido   2              Alcampo             22    1.18
6   2      Café molido   3          La Estrella             23    1.61
7   3  Aceite de oliva   1           Hojiblanca             31    2.75
8   3  Aceite de oliva   2              Alcampo             32    3.54
9   3  Aceite de oliva   3          La Española             33    3.60

   Valor_inicial
0              0
1              0
2              0
3              0
4              0
5              0
6              0
7              0
8              0
9              0
Si desea que haya algún producto específico en su compra escriba SI, en caso contrario escriba NOno

In [9]:
budget11 = dinero
alpha11 = 0.05
num_episodes11 = 5000
epsilon11 = 0.2
reward11 = rewards

In [10]:
start_time = time.time()

Mdl11 = MCModelv3(data=tabla, alpha = alpha11, e = num_episodes11,epsilon = epsilon11, budget = budget11, reward = reward11)

print("--- %s seconds ---" % (time.time() - start_time))

print(Mdl11[1])

--- 134.5155017375946 seconds ---
IP
1    1
2    2
3    1
Name: IM, dtype: int64

In [12]:
productos_optimos = Mdl11[4]
productos_optimos

          Producto             Marca  Precio
0          Cerveza  Alhambra premium    3.12
1      Café molido           Alcampo    1.18
2  Aceite de oliva        Hojiblanca    2.75

In [13]:
productos_mas_baratos = Mdl11[6]
productos_mas_baratos

          Producto             Marca  Precio
0          Cerveza  Alhambra premium    3.12
1      Café molido           Alcampo    1.18
2  Aceite de oliva        Hojiblanca    2.75

In [15]:
precio_optimo = Mdl11[5]
precio_optimo

7.05

In [16]:
precio_mas_barato = Mdl11[7]
precio_mas_barato

7.05

# Caso 2

In [6]:
tabla2, rewards2, dinero2 = productos(data)

Indique el dinero máximo que desea gastar: 10
Seleccione el número de productos que quiera: 4
['Leche semidesnatada', 'Huevos L', 'Arroz redondo', 'Filetes de pollo', 'Cereales chocolate', 'Zumo Naranja', 'Champu', 'Jamon serrano lonchas', 'Café molido', 'Pizza jamon y queso', 'Aceitunas verdes ', 'Cerveza', 'Aceite de oliva', 'Pan de molde', 'Espaguettis']
Seleccione el producto:Cerveza
Seleccione el producto:Pizza jamon y queso
Seleccione el producto:Cereales chocolate
Seleccione el producto:Huevos L
    IP             Producto  IM                    Marca  Qmerged_label  \
0    1              Cerveza   1         Alhambra premium             11
1    1              Cerveza   2            Mahou clásica             12
2    1              Cerveza   3                Voll-damm             13
3    1              Cerveza   4      San Miguel especial             14
4    2  Pizza jamon y queso   1  Buitoni Forno di Pietra             21
5    2  Pizza jamon y queso   2    Dr. Oetket Ristorante             22
6    2  Pizza jamon y queso   3          La niña del sur             23
7    3   Cereales chocolate   1                  Nesquik             31
8    3   Cereales chocolate   2                  Kellogs             32
9    3   Cereales chocolate   3           Muesli Alcampo             33
10   3   Cereales chocolate   4                 Chocapic             34
11   4             Huevos L   1                  Alcampo             41
12   4             Huevos L   2           Pazo de Vilane             42
13   4             Huevos L   3       La Granja de Sauri             43

    Precio  Valor_inicial
0     3.12              0
1     3.36              0
2     4.62              0
3     3.30              0
4     3.09              0
5     3.25              0
6     2.29              0
7     2.35              0
8     3.45              0
9     1.99              0
10    2.84              0
11    1.44              0
12    2.98              0
13    2.23              0
Si desea que haya algún producto específico en su compra escriba SI, en caso contrario escriba NOSi
Indique el número de productos que quiera introducir de forma manual:1
Indique el producto:Cerveza
Indique la marca:Mahou clásica

In [8]:
budget2 = dinero2
alpha2 = 0.05
num_episodes2 = 3000
epsilon2 = 0.2
reward2 = rewards2

In [10]:
start_time = time.time()

Mdl2 = MCModelv3(data=tabla2, alpha = alpha2, e = num_episodes2,epsilon = epsilon2, budget = budget2, reward = reward2)

print("--- %s seconds ---" % (time.time() - start_time))

print(Mdl2[1])

--- 166.76760411262512 seconds ---
IP
1    2
2    3
3    3
4    1
Name: IM, dtype: int64

In [11]:
Mdl2[2]

,IP,Producto,IM,Marca,Qmerged_label,Precio,Valor_inicial,V
0,1,Cerveza,1,Alhambra premium,11.0,3.12,0,0.226365
1,1,Cerveza,2,Mahou clásica,12.0,3.36,0,0.819661
2,1,Cerveza,3,Voll-damm,13.0,4.62,0,-0.249902
3,1,Cerveza,4,San Miguel especial,14.0,3.30,0,0.181672
4,2,Pizza jamon y queso,1,Buitoni Forno di Pietra,21.0,3.09,0,0.505117
5,2,Pizza jamon y queso,2,Dr. Oetket Ristorante,22.0,3.25,0,0.317415
6,2,Pizza jamon y queso,3,La niña del sur,23.0,2.29,0,0.716476
7,3,Cereales chocolate,1,Nesquik,31.0,2.35,0,0.465864
8,3,Cereales chocolate,2,Kellogs,32.0,3.45,0,0.269146
9,3,Cereales chocolate,3,Muesli Alcampo,33.0,1.99,0,0.754750
10,3,Cereales chocolate,4,Chocapic,34.0,2.84,0,0.529045
11,4,Huevos L,1,Alcampo,41.0,1.44,0,0.748620
12,4,Huevos L,2,Pazo de Vilane,42.0,2.98,0,0.296887
13,4,Huevos L,3,La Granja de Sauri,43.0,2.23,0,0.582798

In [12]:
Mdl2[4]

              Producto            Marca  Precio
0              Cerveza    Mahou clásica    3.36
1  Pizza jamon y queso  La niña del sur    2.29
2   Cereales chocolate   Muesli Alcampo    1.99
3             Huevos L          Alcampo    1.44

In [13]:
Mdl2[6]

              Producto             Marca  Precio
0              Cerveza  Alhambra premium    3.12
1  Pizza jamon y queso   La niña del sur    2.29
2   Cereales chocolate    Muesli Alcampo    1.99
3             Huevos L           Alcampo    1.44

In [14]:
Mdl2[5]

9.08

In [15]:
Mdl2[7]

8.84

## Ejecutar para introducir valores

In [ ]:
tabla3, rewards3, dinero3 = productos(data)

In [7]:
tabla3

,IP,Producto,IM,Marca,Qmerged_label,Precio,Valor_inicial
0,1,Café molido,1,Marcilla,11,3.70,0
1,1,Café molido,2,Alcampo,12,1.18,0
2,1,Café molido,3,La Estrella,13,1.61,0
3,2,Cerveza,1,Alhambra premium,21,3.12,0
4,2,Cerveza,2,Mahou clásica,22,3.36,0
5,2,Cerveza,3,Voll-damm,23,4.62,0
6,2,Cerveza,4,San Miguel especial,24,3.30,0
7,3,Pizza jamon y queso,1,Buitoni Forno di Pietra,31,3.09,0
8,3,Pizza jamon y queso,2,Dr. Oetket Ristorante,32,3.25,0
9,3,Pizza jamon y queso,3,La niña del sur,33,2.29,0
10,4,Filetes de pollo,1,Uvesa,41,3.78,0
11,4,Filetes de pollo,2,Alcampo,42,5.71,0
12,4,Filetes de pollo,3,Norave,43,3.13,0
13,5,Cereales chocolate,1,Nesquik,51,2.35,0
14,5,Cereales chocolate,2,Kellogs,52,3.45,0
15,5,Cereales chocolate,3,Muesli Alcampo,53,1.99,0
16,5,Cereales chocolate,4,Chocapic,54,2.84,0

In [23]:
budget3 = dinero2
alpha3 = 0.05
num_episodes3 = 1000
epsilon3 = 0.2
reward3 = rewards3

In [ ]:
start_time = time.time()

Mdl3 = MCModelv3(data=tabla3, alpha = alpha3, e = num_episodes3,epsilon = epsilon3, budget = budget3, reward = reward3)

print("--- %s seconds ---" % (time.time() - start_time))

In [ ]:
productos_elegidos = Mdl3[4]
productos_elegidos

In [ ]:
precio_elegidos = round(Mdl3[5],2)
precio_elegidos

In [ ]:
productos_mas_baratos = Mdl3[6]
productos_mas_baratos

In [ ]:
precio_mas_baratos = round(Mdl3[7],2)
precio_mas_baratos